<div id="divHome">
	<% if(user && user.name == bloger) {%>
		<div class="messageAlert">
			<span>新留言</span>
			<div  class="messageContent">
				<dl class="dlMessage">
					<dt>
						<img src="/images/store.jpg" width="96px" height="86px"/>
						<div class="dtLink"> 
							<a href="javascript:void();" title="发私信"></a>
							<a href="javascript:void();" title="加好友"></a>
						</div>
					</dt>
					<dd>
						<div class="ddContent">
							<p>很喜欢，加油！</p>
						</div>
						<div class="ddBottom">
							<div>
							</div>
							<span>2013-7-22 16:06:37</span>
							<a href="javascript:void();">回复</a>
							<a href="javascript:void();">收起回复</a>
							<br/>
							<textarea cols="40" rows="2" style=" width:98%; resize:vertical; line-height:30px; min-height:30px; margin:10px 0;"></textarea>
							<br/>
							<input type="button" class="blogBtn blogBtn-primary" value="回复" style="float:right; margin-right:2px;">
						</div>
					</dd>
				</dl>
			</div>
		</div>
	<% } %>
	<% articleList.forEach(function(article, index) { %>			
		<div class="articleList">
			<div class="article-title">
				
				<% if(user && user.name === bloger) { %>
					<div style="float:right; font-weight:normal; font-size:16px;">
						<a href="#">编辑</a>|
						<a onclick="">修改分类</a>|
						<a data-name="<%= article.time.minute %>" onclick="removeArticle(this);">删除</a>
					</div>
				<% } %>
				<div style="width:550px; font-size:22px; text-overflow:ellipsis; overflow:hidden;">
					<a href="/showArticle/u/<%= bloger %>/<%= article.time.minute%>" >
						<%= article.title %>
					</a>
				</div>
			</div>
			<div class="article-tag">
				<label>标签：</label>
				<span><%= article.tags %></span>
				<div style="float:right;">
					(分类：<span><%= article.category %></span>)
				</div>
			</div>
			<div class="article-content">
				<%= article.abstract %>
				<% if(article.abstract.length >= 195) { %>...<% } %>
			</div>

			<div class="article-info">
				<span class="articleTime"><%= article.time.minute %></span>
				<div style="float:right">
					浏览(<%= article.viewNum %>) | 评论(<%= article.comments.length %>)
				</div>
			</div>
		</div>
    <% }) %>

</div>
<script type="text/javascript">
    $(document).ready(function () {
    	$('#liHome').addClass('active');
    		/*
			var contents = $('.articleContent');
			for(var i = 0; i < contents.length; i++) {
				$('.articleContent').html(contents[i].text());
			}
			$('.articleContent').show();
			*/
    });

    function removeArticle(article) {
    	<% if(user && user.name === bloger) { %>
			var oA = $(article);
			if(confirm("确定要删除？ 若删除，则无法恢复。")) {
	    		$.ajax({
	    			url: "/masterHome/u/<%= user.name %>",
	    			type: "DELETE",
	    			data: {
	    				minute: oA.attr('data-name')
	    			},
	    			success: function(msg){
	        			if(msg === "donotexist")
	    					alert("文章不存在");  
	    				else if(msg === "error")
	    					alert("删除异常");
	    				else if(msg === "success") {
	    					//oA.parentsUntil('div.articleList').parent().remove();
	    					window.location.href="/masterHome/u/<%= user.name %>";
	    				}
	        		}
	    		});
			}
		<% } %>
    }
    
</script>