<style type="text/css">
	.article{
		margin:35px 0;
		padding:35px 40px;
		background-color:#FFFFFF;
	}
	.article>.articleTitle{
		font-size:34px;
		font-weight:bolder;
		text-align:center;
		line-height:40px;
		margin-bottom:25px;
	}
	.article>.articleContent{
		/*line-height:35px;*/
		margin:20px 0;
	}
	.article>.articleTag{
		
		overflow:hidden;
	}
	.article>.articleInfo{
		background-color:#AAAAAA;
		height:30px;
		width:100%;
		padding:10px 0;
		margin:20px 0;
		
	}
	.commentList{
		background-color:#E6E6E6;
		margin:10px 0;
		padding:10px;
		overflow:hidden;
	}
	.commentList>.commentImg{
		float:left;
		width:50px;
		height:60px;
		padding-top:5px;
	}
	.commentList>.commentInfo{
		float:left;
		padding-left:20px;
		width:520px;
	}
	.commentList>.commentInfo>.commentND,
	.commentList>.commentInfo>.commentDetail{
		overflow:hidden;
		line-height:30px;
	}
	.commentList>.commentInfo>.commentND>.commentName,
	.commentList>.commentInfo>.commentDetail>.commentContent{
		float:left;
	}
	.commentList>.commentInfo>.commentND>.commentName>span{
		font-weight:bold;
	}
	.commentList>.commentInfo>.commentND>.commentDate,
	.commentList>.commentInfo>.commentDetail>.commentReply{
		float:right;
	}
</style>

<div class="article">
	<div class="articleTitle">
		<%= article.title %>
	</div>
	<div class="articleTag">
		<div style="float:left;color:#D26900;"><%= article.tags %></div>
		<div style="float:right; margin-right:2px;"><%= article.time.minute %></div>
	</div>
	<div class="articleContent">
		<%- article.content %>
	</div>
	<div class="articleInfo">
		<div style="float:right; margin-right:2px;"><a href="#">转发</a></div>
		<div style="float:right; margin-right:12px;"><a href="#">赞</a></div>
	</div>
	<div class="articleComments" id="articleComments">
		<div style=" margin-bottom:10px;">浏览(<%= article.viewNum %>) | 评论(<%= article.comments.length %>) </div>
        
        <div id="commentLists">
	        <% article.comments.forEach(function(comment, index) { %>
				<div class="commentList">
					<div class="commentImg">
						<a href="/masterHome/u/<%=comment.name %>"><img src='/<%=comment.head %>' alt='头像' width='50' height='50'/></a>
					</div>
					<div class="commentInfo">
						<div class="commentND">
							<div class="commentName">
								<span><%= comment.name %></span>
							</div>
							<div class="commentDate">
								<span><%= comment.time %></span>
							</div>
						</div>
						<div class="commentDetail">
							<div class="commentContent">
								<span><%= comment.content %></span>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>

		<% if(!user) { %>
	        <div>
				<span>注册用户登录后才能发表评论，请 </span><a href="/login">登录</a> <span>或</span> <a href="/reg">注册</a>
	        </div>
        <% } else if(user.name != bloger){ %>
	        <div class="addComment" style="overflow: hidden; margin-bottom:20px;">
	            <div style="float: left; width: 10%; margin-right: 10px;">
	                <img id="uyan_uface" style=" width: 50px; height: 50px;" src="http://uyan.cc/uploads/duface.png">
	            </div>	
	            <div style="float: left;width: 75%;">
	                <textarea id="txtContent" cols="50" rows="2" style="resize:vertical; line-height:30px; min-height:30px; font-size:20px;" placeholder="请输入评论"></textarea>
	            </div>
				<div style="float: right; width: 10%; margin-left:10px;">
	                <input type="submit" class="blogBtn blogBtn-primary" onclick="addComment();" value="发表">
	            </div>
	        </div>
	        <script type="text/javascript">
				function addComment() {
					<% if(user && user.name != bloger) { %>
						var content = $('#txtContent').val();
						if(!content) {
							alert("请输入评论内容");
							return;
						}
						
						$.ajax({
							url: "/showArticle/u/<%= bloger %>/<%= article.time.day %>/<%= article.title %>",
							type: "POST",
							data: {
								name: "<%= user.name %>",
								head: "<%= user.head %>",
								content: content
							},
							success: function(msg){  
								if(msg == "error")
									alert("发表评论异常");  
								else if(msg == "success") {
									$('#txtContent').val('');
									var date = new Date();
				        			var time = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
									$('#commentLists').append('<div class="commentList"><div class="commentImg"><a href="/masterHome/u/<%=user.name %>"><img src="/<%=user.head %>" alt="头像" width="50" height="50"/></a></div><div class="commentInfo"><div class="commentND"><div class="commentName"><span>'+'<%=user.name %></span></div><div class="commentDate"><span>'+time+'</span></div></div><div class="commentDetail"><div class="commentContent"><span>'+content+'</span></div></div></div></div>');
								}  
							}
						});
					<% } %>
				}
				</script>
        <% } %>
     </div>
</div>
